<div class="jumbotron center">
  <h1>Welcome to Friends Clique!</h1>
  <p>Click on the button to signup...</p>
  <%= link_to "Signup","#", class:"btn btn-primary btn-lg" %>
  <%= link_to "Login","#", class:"btn btn-default btn-lg" %>

</div>